@using Microsoft.AspNetCore.Components.Routing
@using SvHofkirchenHomepage.Components.Layout

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Seite nicht gefunden</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="rz-p-4 text-center">
                <h1 class="text-danger">404</h1>
                <p>Hoppla! Diese Seite existiert leider nicht.</p>
                <a href="" class="btn btn-primary">Zurück zur Startseite</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>